<div class="header">
    <div class="header_top">
        <div class="logo">
            <a href="index.html"><img src="{{asset('images/logo.png')}}" alt="" /></a>
        </div>
        <div class="header_top_right">
            <div class="search_box">
                <form>
                    <input type="text" value="Search for Products" onfocus="this.value = '';" onblur="if (this.value == '') {
                                this.value = 'Search for Products';
                            }"><input type="submit" value="SEARCH">
                </form>
            </div>


            <div class="login">
                <span><a href="login.html"><img src="{{asset('images/login.png')}}" alt="" title="login"/></a></span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="menu">
        <ul id="dc_mega-menu-orange" class="dc_mm-orange">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="products.html">Categorias</a>
                <ul>
                    {% set tipos = get_tipos() %}
                    {% for tipo in tipos %}
                        <li><a href="{{tipo.id}}">{{tipo.nombre}}</a>
                            {% for categoria in get_categorias(tipo.id) %}
                            <ul>
                            <li><a href="preview-2.html">{{categoria.nombre}}</a></li>
                            </ul>
                            {% endfor %} 
                    {% endfor %}   
                </ul>
            </li>
            <li><a href="products.html">Marcas</a>
                <ul>
                    <li><a href="products.html">Brand Name 1</a></li>
                    <li><a href="products.html">Brand Name 2</a></li>
                    <li><a href="products.html">Brand Name 3</a></li>
                    <li><a href="#">Brand Name 4</a></li>
                    <li><a href="#">Brand Name 5</a></li>
                    <li><a href="#">Brand Name 6</a></li>
                    <li><a href="#">Brand Name 7</a></li>
                    <li><a href="#">Brand Name 8</a></li>
                    <li><a href="#">Brand Name 9</a></li>
                    <li><a href="#">Brand Name 10</a></li>
                </ul>
            </li>
            <li><a href="faq.html">Servicios Financieros</a>

            </li>
            <li><a href="about.html">Acerca</a></li>

            <li><a href="faq.html">Preguntas frecuentes</a></li>
            <li><a href="contact.html">Contact</a> </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="header_bottom">
        <div class="header_bottom_left">
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview.html"> <img src="{{asset('images/pic4.png')}}" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>LIQUIDO URGENTE! fiesta max modelo 2010</h2>
                        <p>papeles al dia
4 cubiertas nuevas
servis recien hechos
impecable estado
escucho ofertas de contado
rtv recien hecha
4 cubiertas nuevas</p>
                        <div class="button"><span><a href="preview.html">Add to cart</a></span></div>
                    </div>
                </div>			
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-5.html"><img src="images/pic3.png" alt="" / ></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Sansung</h2>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <div class="button"><span><a href="preview-5.html">Add to cart</a></span></div>
                    </div>
                </div>
            </div>
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-3.html"> <img src="images/pic3.jpg" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Acer</h2>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <div class="button"><span><a href="preview-3.html">Add to cart</a></span></div>
                    </div>
                </div>			
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-6.html"><img src="images/pic1.png" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Canon</h2>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <div class="button"><span><a href="preview-6.html">Add to cart</a></span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_bottom_right_images">
            <!-- FlexSlider -->
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="images/1.jpg" alt=""/></li>
                        <li><img src="images/2.jpg" alt=""/></li>
                        <li><img src="images/3.jpg" alt=""/></li>
                        <li><img src="images/4.jpg" alt=""/></li>
                    </ul>
                </div>
            </section>
            <!-- FlexSlider -->
        </div>
        <div class="clear"></div>
    </div>	
</div>